:root {
    --col-w: #fff;
    --col-b: #000;
    --col-1: #6d767e;
    --col-2: #e1e1e1;
    --col-3: #f4f6f9;
    --col-4: #212529;
    --col-5: #997404;
    --layout-gap: 1px;
    --trans-delay: 0.2s;
    --col-primary: #0d6efd;
    --col-secondary: #6c757d;
    --col-secondary-hover: #5c636a;
    --col-primary-hover: #0a58ca;
    --text-danger: #dc3545;
    --text-danger-hover: #b02a37;
    --pgn-link-margin: 2px;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    color: #000;
}

a, a:visited {
    text-decoration: none;
}

a:focus, a:active {
    outline: none;
}

button {
    cursor: pointer;
    background: none;
}

ul li {
    list-style-type: none;
}

img {
    display: block;
    max-width: 200px;
}

input, select, textarea {
    outline: none;
}
body {
    font-family: Roboto;
}

.content {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
// form
.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    border: 1px solid var(--col-w);
    background: var(--col-w);
    border-radius: 6px;
    padding: 15px;
    background-size: cover;
    &__title {
        padding-bottom: 6px;
        margin-bottom: 15px;
        border-bottom: 1px solid var(--col-2);
        h3 {
            color: var(--col-4);
        }
    }
    label, input, select, .form__multipleSelectList div, textarea {
        font-size: 16px;
        color: var(--col-4);
    }
    &__item {
        display: flex;
        margin-bottom: 15px;
        flex-direction: column;
        &-checkbox {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            a {
                text-decoration: underline;
            }
        }
        label, .form__multipleSelectLabel {
            font-weight: 500;
        }
        input, select, .form__multipleSelect, textarea {
            padding: 4px;
            background: var(--col-w);
            border: 1px solid var(--col-2);
            margin: 6px 0 4px 0;
            &.error {
                border: 1px solid var(--text-danger);
            }
        }
        small {
            color: var(--text-danger);
            font-size: 12px;
            //padding-left: 3px;
        }
    }
    &__checkbox {
        display: flex;
        align-items: center;
        input[type=checkbox] {
            width: 16px;
            height: 16px;
            margin: 0 10px 1px 0;
        }
        label {
            font-weight: 400;
            color: var(--col-4);
        }
    }
    &__btnSend {
        //border: 1px solid var(--col-2);
        padding: 4px 12px;
        border-radius: 3px;
        align-self: flex-start;
        font-weight: 400;
        background: var(--col-primary);
        color: var(--col-w);
        transition: var(--trans-delay);
        margin-top: 15px;
        font-size: 16px;
        &:hover {
            background: var(--col-primary-hover);
        }
    }
    &__multipleSelect {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        user-select: none;
        * {
            user-select: none;
        }
        &:hover {
            cursor: pointer;
        }
        &.error {
            border: 1px solid var(--text-danger);
        }
    }
    &__multipleSelectList {
        position: absolute;
        left: -1px;
        top: calc(100% + 2px);
        width: calc(100% + 2px);
        display: flex;
        flex-direction: column;
        background: var(--col-w);
        div {
            padding: 4px;
            border: 1px solid var(--col-2);
            margin-bottom: 1px;
            &:last-child {
                margin-bottom: 0;
            }
            &:hover {
                background: var(--col-3);
            }
        }
    }
    &__multipleSelected {
        font-size: 16px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4px;
        margin: 6px 0 4px 0;
        div {
            padding: 4px 12px;
            border: 1px solid var(--col-2);
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            span {
                margin-right: 5px;
                font-weight: 500;
            }
            button:hover {
                &._icon-cross:before {
                    color: var(--text-danger);
                }
            }
            ._icon-cross:before {
                font-size: 12px;
                color: var(--col-4);
                padding-top: 2px;
                transition: var(--trans-delay);
                font-weight: 300;
            }
        }
    }
}
// END form

.btn {
    padding: 6px 12px;
    border-radius: 3px;
    transition: var(--trans-delay);
    display: flex;
    justify-content: center;
    align-items: center;
    &-primary {
        background: var(--col-primary);
        color: var(--col-w);
    }
    &:hover {
        &.btn-primary {
            background: var(--col-primary-hover);
        }
    }
}
.photoPreview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4px 0;
    gap: 4px;
    label {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: var(--trans-delay);
        &:hover {
            color: var(--col-b);
            cursor: pointer;
            background: var(--col-2);
        }
    }
    &__item {
        position: relative;
        border: 1px solid var(--col-2);
        padding: 2px;
        transition: all 1s;
        &-addButton {
            grid-column: 1/-1;
        }
    }
    img {
        max-width: 100%;
    }
    &__close {
        position: absolute;
        top: 2px;
        right: 2px;
        width: 32px;
        height: 32px;
        transition: var(--trans-delay);
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}

.fade-enter-active {
    animation: fadeIn 1s;
}
.fade-leave-active {
    animation: fadeOut 1s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
